.best-seller-tag{
    background-color: orange;
    color: #fff;
    border-radius: 3px;
    padding: 0.25rem 0.47rem;
    width: fit-content;
    position: absolute;
}
li.codebook--book-card{
box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
li.codebook--book-card img.product-img{
height: 270px;
width: 100%;
}
.spinner-border.text-primary.loading-spinner{
    height: 5rem;
    width: 5rem;
}
.loading-container{
    min-height: 70vh;
}

.codebook--logo-container img{
    height: 40px;
    width: 40px;
    }
    /* nav.codebook-navigation-bar{
        display: flex;
        
        
    } */
    div.codebook--icons-container span.codebook--icon{
       font-size: 1.5rem;
    }