#empty-cart{
    border: 1px solid #ccc;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.codebook-cart--icon{
font-size: 100px;
}
.empty-cart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.cart-item-img{
    height: 96px;
    width:130px;
    border-radius: 5px;
    margin-right: 10px;
}
.cart-item-title{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.cart-item-title,.cart-item-price{
    font-size: 16px;
}
@media screen and (max-width:678px){
    img.cart-item-img
    {
        width: 100px;
    }
    .cart-item-title
    {
       max-width: 140px;
    }
}