article.codebook-order-confirmation{
   
        border: 2px solid #ccc ;  
        display: flex;
        flex-direction: column;
        /* justify-content: center;            */
        gap: 0.35rem;
            /* width: 300px;
        height: 200px; */
        padding: 1rem; 
        align-items: center;
        /* color:rgb(22 163 74) */
    
    }
    article.codebook-order-confirmation{
        margin: 0;
    }
    div.codebook-check-icon{
        color:rgb(22 163 74);
        font-size: 50px;
    }
    li.codebook-order-item
    {
       border: 1px solid #ccc;
       padding: 0.5rem;
    }

    li.codebook-order-item-product-item div.product-img img
    {
      width:128px;
      height: 85px;
    }
    @media screen and (max-width:678) {
        #codebook-orders-list
        {
            padding-left: 0;
        }
    }

